<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <h1 class="titulo">About HTML</h1>
        <nav>
            <ul class="nav-list">
                <li><a href="/" class="btn">Inicio</a></li>
                <li><a href="about" class="btn">Acerca de</a></li>
                <li><a href="contact" class="btn">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- Contenido principal de la página -->
    </main>
</body>
</html>
